@{
    ProjetoFinal.Models.Produto prod = new ProjetoFinal.Models.Produto();
    ProjetoFinal.DAO.ProdutosDAO dao = new ProjetoFinal.DAO.ProdutosDAO();

}


<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                Widget settings form goes here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue">Save changes</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Fornecedores <small>Registrar pedido</small>
</h3>

<div class="col-md-6 col-sm-12">
    <div class="portlet blue-hoki box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Informações do fornecedor
            </div>
        </div>
        <div class="portlet-body">
            <div class="row static-info">
                <div class="col-md-5 name">
                    Nome:
                </div>
                <div class="col-md-7 value">
                    @*@ViewBag.Fornecedores.DenominacaoSocial*@
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    CNPJ:
                </div>
                <div class="col-md-7 value">
                    @*@ViewBag.Fornecedores.CNPJ*@
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Email:
                </div>
                <div class="col-md-7 value">
                    @*@ViewBag.Fornecedores.Email*@
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Telefone:
                </div>
                <div class="col-md-7 value">
                    @*@ViewBag.Fornecedores.Telefone*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-sm-12">
    <div class="portlet yellow-crusta box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Produtos
            </div>
        </div>
        <div class="portlet-body">
            <label>Produto:</label>
            <select id="produtos-lista-pedidos" class="form-control">
                @foreach (var produto in ViewBag.Produtos)
                {

                    <option value="@produto.Id">
                        @produto.Nome
                    </option>

                }
            </select><br />
            <label>Valor:</label>
            <input type="text" class="form-control" id="valor-produto-pedido" /><br />
            <label>Quantidade:</label>
            <input type="text" class="form-control" id="quantidade-produto-pedido" /><br />
            <button id="adicionar-produto-pedidos" class="form-control btn green">Adicionar</button>
        </div>
    </div>
</div>


<div class="row" style="width:1308px; margin-left:2px;">
    <div class="col-md-12 col-sm-12">
        <div class="portlet grey-cascade box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Pedido
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table id="tabela-pedidos" class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Produto
                                </th>
                                <th>
                                    Quantidade em estoque
                                </th>
                                <th>
                                    Valor por unidade
                                </th>
                                <th>
                                    Quantidade para compra
                                </th>
                                <th>
                                    Total
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tabela-pedidos-fornecedores">
                            <tr id="nada-no-pedido">
                                <th colspan="5" style="text-align:center">Não foi adicionado nenhum produto ao pedido ainda!</th>
                            </tr>
                        </tbody>
                    </table>
                    <button class="form-control btn green ">Fechar pedido</button> 
                </div>
            </div>
        </div>
    </div>
</div>