<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                Widget settings form goes here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue">Save changes</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Clientes <small>registrar e editar fornecedor.</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal form-row-seperated" action="@Url.Action("Adiciona","Fornecedor")" method="post">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-shopping-cart"></i>Cliente
                    </div>
                    <div class="actions btn-set">
                        <button class="btn default"><i class="fa fa-reply"></i> Resetar</button>
                        <button class="btn green"><i class="fa fa-check"></i> Salvar</button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs"></ul>
                        <div class="tab-content no-space">
                            <div class="tab-pane active" id="tab_general">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Denominação social: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" name="fornecedor.DenominacaoSocial" placeholder="">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            CNPJ: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="number" class="form-control" id="cnpj" maxlength="14" name="fornecedor.CNPJ" placeholder="apenas numeros">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Endereço: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="fornecedor.Endereco" placeholder="">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Bairro: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="fornecedor.Bairro" placeholder="">

                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Cidade:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="fornecedor.Cidade">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Estado:
                                        </label>
                                        <div class="col-md-10">
                                            <select class="form-control" name="fornecedor.UF">
                                                <option value="AC">Acre</option>
                                                <option value="AL">Alagoas</option>
                                                <option value="AP">Amapá</option>
                                                <option value="AM">Amazonas</option>
                                                <option value="BA">Bahia</option>
                                                <option value="CE">Ceará</option>
                                                <option value="DF">Distrito Federal</option>
                                                <option value="ES">Espírito Santo</option>
                                                <option value="GO">Goiás</option>
                                                <option value="MA">Maranhão</option>
                                                <option value="MT">Mato Grosso</option>
                                                <option value="MS">Mato Grosso do Sul</option>
                                                <option value="MG">Minas Gerais</option>
                                                <option value="PA">Pará</option>
                                                <option value="PB">Paraíba</option>
                                                <option value="PR">Paraná</option>
                                                <option value="PE">Pernambuco</option>
                                                <option value="PI">Piauí</option>
                                                <option value="RJ">Rio de Janeiro</option>
                                                <option value="RN">Rio Grande do Norte</option>
                                                <option value="RS">Rio Grande do Sul</option>
                                                <option value="RO">Rondônia</option>
                                                <option value="RR">Roraima</option>
                                                <option value="SC">Santa Catarina</option>
                                                <option value="SP">São Paulo</option>
                                                <option value="SE">Sergipe</option>
                                                <option value="TO">Tocantins</option>
                                            </select>
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            CEP:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="fornecedor.CEP" placeholder="">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Telefone:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="tel" class="form-control" name="fornecedor.Telefone" placeholder="">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Email:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="email" class="form-control" name="fornecedor.Email" placeholder="">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Prazo medio de entrega:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="number" class="form-control" name="fornecedor.PrazoMedioEntrega" placeholder="">
                                        </div>
                                    </div><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>