<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                Widget settings form goes here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue">Save changes</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Fornecedores <small>registrar fornecedor.</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal form-row-seperated form-validacao-fornecedores" action="@Url.Action("Adiciona","Fornecedor")" method="post">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-shopping-cart"></i>Cliente
                    </div>
                    <div class="actions btn-set">
                        <button class="btn default"><i class="fa fa-reply"></i> Resetar</button>
                        <button class="btn green"><i class="fa fa-check"></i> Salvar</button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs"></ul>
                        <div class="tab-content no-space">
                            <div class="tab-pane active" id="tab_general">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Denominação social: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control form-nome" onblur="validaNome()" name="fornecedor.DenominacaoSocial" placeholder="">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            CNPJ: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control cnpj form-cnpj" onblur="validaCnpj()" id="cnpj" maxlength="14" name="fornecedor.CNPJ" placeholder="apenas numeros">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Endereço: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control form-endereco" onblur="validaEndereco()" name="fornecedor.Endereco" placeholder="">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Bairro: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control form-bairro" onblur="validaBairro()" name="fornecedor.Bairro" placeholder="">

                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Cidade:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control form-cidade" onblur="validaCidade()" name="fornecedor.Cidade">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Estado:
                                        </label>
                                        <div class="col-md-10">
                                            <select class="form-control" name="fornecedor.UF">
                                                <option value="Acre">Acre</option>
                                                <option value="Alagoas">Alagoas</option>
                                                <option value="Amapá">Amapá</option>
                                                <option value="Amazonas">Amazonas</option>
                                                <option value="Bahia">Bahia</option>
                                                <option value="Ceará">Ceará</option>
                                                <option value="Distrito Federal">Distrito Federal</option>
                                                <option value="Espírito Santo">Espírito Santo</option>
                                                <option value="Goiás">Goiás</option>
                                                <option value="Maranhão">Maranhão</option>
                                                <option value="Mato Grosso">Mato Grosso</option>
                                                <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                                                <option value="Minas Gerais">Minas Gerais</option>
                                                <option value="Pará">Pará</option>
                                                <option value="Paraíba">Paraíba</option>
                                                <option value="Paraná">Paraná</option>
                                                <option value="Pernambuco">Pernambuco</option>
                                                <option value="Piauí">Piauí</option>
                                                <option value="Rio de Janeiro">Rio de Janeiro</option>
                                                <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                                                <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                                                <option value="Rondônia">Rondônia</option>
                                                <option value="Roraima">Roraima</option>
                                                <option value="Santa Catarina">Santa Catarina</option>
                                                <option value="São Paulo">São Paulo</option>
                                                <option value="Sergipe">Sergipe</option>
                                                <option value="Tocantins">Tocantins</option>
                                            </select>
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            CEP:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control cep form-cep" onblur="validaCep()" name="fornecedor.CEP" placeholder="">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Telefone:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="tel" class="form-control telefone" name="fornecedor.Telefone" placeholder="">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Email:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="email" class="form-control form-email" onblur="validaEmail()" name="fornecedor.Email" placeholder="">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Prazo medio de entrega:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="number" class="form-control form-data-entrega" onblur="validaDataEntrega()" min="0" max="40" name="fornecedor.PrazoMedioEntrega" placeholder="Prazo em dias (Apenas números)">
                                        </div>
                                    </div><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>