<h3 class="page-title">
    Lista de fornecedores <small>Visualisar fornecedores</small>
</h3>
<ul class="nav nav-tabs">
    <li style="bottom: 2px">
        <form class="form-horizontal form-row-seperated" action="@Url.Action("Form","Cliente")" method="post">
            <button class="btn default green" type="submit">Registrar fornecedor</button>
        </form>
    </li>

    <li style="left:10px; bottom: 2px">
        <form class="form-horizontal form-row-seperated" action="#" method="post">
            <button class="btn default grey" type="submit">Registros</button>
        </form>
    </li>
</ul>