<h3 class="page-title">
    Funcionarios <small>registrar e editar funcionario.</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <form id="form-funcionario" class="form-horizontal form-row-seperated form-validacao-pessoa" action="@Url.Action("Adiciona","Funcionario")" method="post">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-shopping-cart"></i>Funcionario
                    </div>
                    <div class="actions btn-set">
                        <button class="btn default"><i class="fa fa-reply"></i> Resetar</button>
                        <button class="btn green"><i class="fa fa-check"></i> Salvar</button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs"></ul>
                        <div class="tab-content no-space">
                            <div class="tab-pane active" id="tab_general">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Nome: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control form-nome" onblur="validaNome()" name="funcionario.Nome" placeholder="">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            CPF: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control cpf form-cpf" id="cpf" maxlength="11" onblur="validaCpf()" name="funcionario.Cpf" placeholder="Apenas numeros">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label style="right:15px" class="col-md-2 control-label">
                                            Data de nascimento: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="date" class="form-control form-data-nascimento" onblur="validaDataNascimento()" max="2050-12-31" min="1900-12-31" maxlength="10" name="funcionario.DataDeNascimento">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Email: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="email" class="form-control form-email" onblur="validaEmail()" name="funcionario.Email">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Telefone:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control telefone form-telefone" id="telefone" name="funcionario.Telefone">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Tipo de Pessoa:

                                            <span class="required"> * </span>

                                        </label>
                                        <div class="col-md-10">
                                            <div class="form-control height-auto">

                                                <select class="form-control" name="funcionario.TipoPessoaId">
                                                    @foreach (var tipo in ViewBag.TipoPessoas)
                                                    {

                                                        <option value="@tipo.Id">
                                                            @tipo.Nome
                                                        </option>

                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
   
   
</script>
