
@{
    ProjetoFinal.Models.Produto prod = new ProjetoFinal.Models.Produto();
    ProjetoFinal.DAO.ProdutosDAO dao = new ProjetoFinal.DAO.ProdutosDAO();


}
<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                Widget settings form goes here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue">Save changes</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Venda <small>realizar venda</small>
</h3>

<div class="col-md-6 col-sm-12">
    <div class="portlet blue-hoki box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Informações do cliente
            </div>
        </div>
        <div class="portlet-body">
            <div class="row static-info">
                <div class="col-md-5 name">
                    Nome:
                </div>
                <div class="col-md-7 value">
                    <select id="clientes-compras" class="form-control">
                        <option value="00" selected>Cliente sem cadastro</option>
                        @foreach (var clientes in ViewBag.Clientes)
                        {
                            <option value="@clientes.Id">@clientes.Nome</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    CPF:
                </div>
                <div class="col-md-7">
                    <input id="cpf-cliente" class="form-control cpf" disabled />
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Email:
                </div>
                <div class="col-md-7">
                    <input id="email-cliente" class="form-control" disabled />
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Telefone:
                </div>
                <div class="col-md-7">
                    <input id="telefone-cliente" class="form-control telefone" disabled />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-sm-12">
    <div class="portlet yellow-crusta box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Produtos
            </div>
        </div>
        <div class="portlet-body">
            <label>Produto:</label>
            <select id="produtos-lista-venda" class="form-control">
                <option selected>Produtos</option>
                @foreach (var produto in ViewBag.Produtos)
                {

                    <option id="1" class="qtdEstoque" value="@produto.Id">
                        @produto.Nome
                    </option>

                }
            </select><br />
            <label>Quantidade em estoque:</label>
            <input type="text" class="form-control" id="quantidade-produto-estoque-venda" disabled /><br />
            <label>Quantidade:</label>
            <input type="number" min="0" max="" class="form-control" value="0" id="quantidade-produto-venda" /><br />
            <label>Valor:</label>
            <input type="text" class="form-control dinheiro" value="0" id="valor-produto-venda" placeholder="000.000,00" /><br />
            <button id="adicionar-produto-venda" class="form-control btn green">Adicionar</button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="portlet grey-cascade box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Pedido
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table id="tabela-venda" class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Produto
                                </th>
                                <th>
                                    Valor por unidade
                                </th>
                                <th>
                                    Quantidade para venda
                                </th>
                                <th>
                                    Total
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tabela-venda-clientes">
                            <tr id="nada-na-venda">
                                <th colspan="5" style="text-align:center">Não foi adicionado nenhum produto a venda ainda!</th>
                            </tr>
                        </tbody>
                    </table>
                    <button class="form-control btn green" id="btn-registra-venda">Fechar venda</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />

<table class="table table-hover table-bordered table-striped"></table>
