

.operacao-concluida {
    text-align: center;
    font-size: 20px;
    color: green;
    display: none;
}

.col-sem-margem {
    padding-left: 0px;
    padding-right: 0px;
}

.filtro-ativo {
    display: none;
}

.senha-incorreta {
    display: none;
    color: red;
}

th, td, table {
    text-align: center;
}

.scrolling-table {
    max-height: 200px;
    overflow-y: scroll;
}

.divisao-menu-principal {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

    .divisao-menu-principal:after {
        content: '';
        display: block;
        margin-top: 2px;
        border-top: 1px solid #8c8b8b;
        border-bottom: 1px solid #fff;
    }

.clear-left {
    clear: left
}
